img {
    border-radius: 80px;
    display: block;
    margin: 0 auto;
}

body { 
        background-color: rgb(9, 9, 9);
        color: rgb(237, 226, 226);
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
}
    
h1 {
        text-align: center;
        margin: 0 0 14px 0;
}