body {
    background-color: rgb(237, 234, 231);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 0 0 14px 0;
    
}

img {
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}


h2 {
    margin: 20px 0;

}